:root, [data-bs-theme=light] {
  --bs-primary: rgb(198,177,255);
  --bs-primary-rgb: 198,177,255;
  --bs-primary-text-emphasis: #4F4766;
  --bs-primary-bg-subtle: #F4EFFF;
  --bs-primary-border-subtle: #E8E0FF;
  --bs-secondary: rgb(230,219,255);
  --bs-secondary-rgb: 230,219,255;
  --bs-secondary-text-emphasis: #5C5866;
  --bs-secondary-bg-subtle: #FAF8FF;
  --bs-secondary-border-subtle: #F5F1FF;
  --bs-success: rgb(47,179,128);
  --bs-success-rgb: 47,179,128;
  --bs-success-text-emphasis: #134833;
  --bs-success-bg-subtle: #D5F0E6;
  --bs-success-border-subtle: #ACE1CC;
  --bs-info: rgb(188,114,255);
  --bs-info-rgb: 188,114,255;
  --bs-info-text-emphasis: #4B2E66;
  --bs-info-bg-subtle: #F2E3FF;
  --bs-info-border-subtle: #E4C7FF;
  --bs-warning: rgb(244,189,97);
  --bs-warning-rgb: 244,189,97;
  --bs-warning-text-emphasis: #624C27;
  --bs-warning-bg-subtle: #FDF2DF;
  --bs-warning-border-subtle: #FBE5C0;
  --bs-danger: rgb(218,41,46);
  --bs-danger-rgb: 218,41,46;
  --bs-danger-text-emphasis: #571012;
  --bs-danger-bg-subtle: #F8D4D5;
  --bs-danger-border-subtle: #F0A9AB;
  --bs-light: rgb(211,211,255);
  --bs-light-rgb: 211,211,255;
  --bs-light-text-emphasis: #545466;
  --bs-light-bg-subtle: #F6F6FF;
  --bs-light-border-subtle: #EDEDFF;
  --bs-dark: rgb(31,31,38);
  --bs-dark-rgb: 31,31,38;
  --bs-dark-text-emphasis: #0C0C0F;
  --bs-dark-bg-subtle: #D2D2D4;
  --bs-dark-border-subtle: #A5A5A8;
  --bs-body-color: rgb(25,25,25);
  --bs-body-color-rgb: 25,25,25;
  --bs-secondary-color: rgba(25,25,25,0.75);
  --bs-secondary-color-rgb: 25,25,25,0.75;
  --bs-tertiary-color: rgba(25,25,25,0.5);
  --bs-tertiary-color-rgb: 25,25,25,0.5;
  --bs-body-bg: rgb(238,237,255);
  --bs-body-bg-rgb: 238,237,255;
  --bs-body-font-family: 'Motiva Sans Test';
}

.btn-primary {
  --bs-btn-color: #000000;
  --bs-btn-bg: rgb(198,177,255);
  --bs-btn-border-color: rgb(198,177,255);
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #CFBDFF;
  --bs-btn-hover-border-color: #CCB9FF;
  --bs-btn-focus-shadow-rgb: 30,27,38;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #D1C1FF;
  --bs-btn-active-border-color: #CCB9FF;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: rgb(198,177,255);
  --bs-btn-disabled-border-color: rgb(198,177,255);
}

.btn-outline-primary {
  --bs-btn-color: rgb(198,177,255);
  --bs-btn-border-color: rgb(198,177,255);
  --bs-btn-focus-shadow-rgb: 198,177,255;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: rgb(198,177,255);
  --bs-btn-hover-border-color: rgb(198,177,255);
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: rgb(198,177,255);
  --bs-btn-active-border-color: rgb(198,177,255);
  --bs-btn-disabled-color: rgb(198,177,255);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(198,177,255);
}

.btn-secondary {
  --bs-btn-color: #000000;
  --bs-btn-bg: rgb(230,219,255);
  --bs-btn-border-color: rgb(230,219,255);
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #EAE0FF;
  --bs-btn-hover-border-color: #E9DFFF;
  --bs-btn-focus-shadow-rgb: 35,33,38;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #EBE2FF;
  --bs-btn-active-border-color: #E9DFFF;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: rgb(230,219,255);
  --bs-btn-disabled-border-color: rgb(230,219,255);
}

.btn-outline-secondary {
  --bs-btn-color: rgb(230,219,255);
  --bs-btn-border-color: rgb(230,219,255);
  --bs-btn-focus-shadow-rgb: 230,219,255;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: rgb(230,219,255);
  --bs-btn-hover-border-color: rgb(230,219,255);
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: rgb(230,219,255);
  --bs-btn-active-border-color: rgb(230,219,255);
  --bs-btn-disabled-color: rgb(230,219,255);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(230,219,255);
}

.btn-success {
  --bs-btn-color: #000000;
  --bs-btn-bg: rgb(47,179,128);
  --bs-btn-border-color: rgb(47,179,128);
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #4EBE93;
  --bs-btn-hover-border-color: #44BB8D;
  --bs-btn-focus-shadow-rgb: 7,27,19;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #59C299;
  --bs-btn-active-border-color: #44BB8D;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: rgb(47,179,128);
  --bs-btn-disabled-border-color: rgb(47,179,128);
}

.btn-outline-success {
  --bs-btn-color: rgb(47,179,128);
  --bs-btn-border-color: rgb(47,179,128);
  --bs-btn-focus-shadow-rgb: 47,179,128;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: rgb(47,179,128);
  --bs-btn-hover-border-color: rgb(47,179,128);
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: rgb(47,179,128);
  --bs-btn-active-border-color: rgb(47,179,128);
  --bs-btn-disabled-color: rgb(47,179,128);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(47,179,128);
}

.btn-info {
  --bs-btn-color: #000000;
  --bs-btn-bg: rgb(188,114,255);
  --bs-btn-border-color: rgb(188,114,255);
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #C687FF;
  --bs-btn-hover-border-color: #C380FF;
  --bs-btn-focus-shadow-rgb: 28,17,38;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #C98EFF;
  --bs-btn-active-border-color: #C380FF;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: rgb(188,114,255);
  --bs-btn-disabled-border-color: rgb(188,114,255);
}

.btn-outline-info {
  --bs-btn-color: rgb(188,114,255);
  --bs-btn-border-color: rgb(188,114,255);
  --bs-btn-focus-shadow-rgb: 188,114,255;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: rgb(188,114,255);
  --bs-btn-hover-border-color: rgb(188,114,255);
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: rgb(188,114,255);
  --bs-btn-active-border-color: rgb(188,114,255);
  --bs-btn-disabled-color: rgb(188,114,255);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(188,114,255);
}

.btn-warning {
  --bs-btn-color: #000000;
  --bs-btn-bg: rgb(244,189,97);
  --bs-btn-border-color: rgb(244,189,97);
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #F6C779;
  --bs-btn-hover-border-color: #F5C471;
  --bs-btn-focus-shadow-rgb: 37,28,15;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #F6CA81;
  --bs-btn-active-border-color: #F5C471;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: rgb(244,189,97);
  --bs-btn-disabled-border-color: rgb(244,189,97);
}

.btn-outline-warning {
  --bs-btn-color: rgb(244,189,97);
  --bs-btn-border-color: rgb(244,189,97);
  --bs-btn-focus-shadow-rgb: 244,189,97;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: rgb(244,189,97);
  --bs-btn-hover-border-color: rgb(244,189,97);
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: rgb(244,189,97);
  --bs-btn-active-border-color: rgb(244,189,97);
  --bs-btn-disabled-color: rgb(244,189,97);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(244,189,97);
}

.btn-danger {
  --bs-btn-color: #fff;
  --bs-btn-bg: rgb(218,41,46);
  --bs-btn-border-color: rgb(218,41,46);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #B92327;
  --bs-btn-hover-border-color: #AE2125;
  --bs-btn-focus-shadow-rgb: 249,223,224;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #AE2125;
  --bs-btn-active-border-color: #A41F23;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: rgb(218,41,46);
  --bs-btn-disabled-border-color: rgb(218,41,46);
}

.btn-outline-danger {
  --bs-btn-color: rgb(218,41,46);
  --bs-btn-border-color: rgb(218,41,46);
  --bs-btn-focus-shadow-rgb: 218,41,46;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgb(218,41,46);
  --bs-btn-hover-border-color: rgb(218,41,46);
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgb(218,41,46);
  --bs-btn-active-border-color: rgb(218,41,46);
  --bs-btn-disabled-color: rgb(218,41,46);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(218,41,46);
}

.btn-light {
  --bs-btn-color: #000000;
  --bs-btn-bg: rgb(211,211,255);
  --bs-btn-border-color: rgb(211,211,255);
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #B3B3D9;
  --bs-btn-hover-border-color: #A9A9CC;
  --bs-btn-focus-shadow-rgb: 32,32,38;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #A9A9CC;
  --bs-btn-active-border-color: #9E9EBF;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: rgb(211,211,255);
  --bs-btn-disabled-border-color: rgb(211,211,255);
}

.btn-outline-light {
  --bs-btn-color: rgb(211,211,255);
  --bs-btn-border-color: rgb(211,211,255);
  --bs-btn-focus-shadow-rgb: 211,211,255;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: rgb(211,211,255);
  --bs-btn-hover-border-color: rgb(211,211,255);
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: rgb(211,211,255);
  --bs-btn-active-border-color: rgb(211,211,255);
  --bs-btn-disabled-color: rgb(211,211,255);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(211,211,255);
}

.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: rgb(31,31,38);
  --bs-btn-border-color: rgb(31,31,38);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1A1A20;
  --bs-btn-hover-border-color: #19191E;
  --bs-btn-focus-shadow-rgb: 221,221,222;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #19191E;
  --bs-btn-active-border-color: #17171D;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: rgb(31,31,38);
  --bs-btn-disabled-border-color: rgb(31,31,38);
}

.btn-outline-dark {
  --bs-btn-color: rgb(31,31,38);
  --bs-btn-border-color: rgb(31,31,38);
  --bs-btn-focus-shadow-rgb: 31,31,38;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgb(31,31,38);
  --bs-btn-hover-border-color: rgb(31,31,38);
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgb(31,31,38);
  --bs-btn-active-border-color: rgb(31,31,38);
  --bs-btn-disabled-color: rgb(31,31,38);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(31,31,38);
}

[data-bs-theme=dark] {
  --bs-primary: rgb(173,149,237);
  --bs-primary-rgb: 173,149,237;
  --bs-primary-text-emphasis: #CEBFF4;
  --bs-primary-bg-subtle: #231E2F;
  --bs-primary-border-subtle: #68598E;
  --bs-secondary: rgb(46,42,55);
  --bs-secondary-rgb: 46,42,55;
  --bs-secondary-text-emphasis: #827F87;
  --bs-secondary-bg-subtle: #09080B;
  --bs-secondary-border-subtle: #1C1921;
  --bs-success: rgb(47,179,128);
  --bs-success-rgb: 47,179,128;
  --bs-success-text-emphasis: #82D1B3;
  --bs-success-bg-subtle: #09241A;
  --bs-success-border-subtle: #1C6B4D;
  --bs-info: rgb(192,123,255);
  --bs-info-rgb: 192,123,255;
  --bs-info-text-emphasis: #D9B0FF;
  --bs-info-bg-subtle: #261933;
  --bs-info-border-subtle: #734A99;
  --bs-warning: rgb(244,189,97);
  --bs-warning-rgb: 244,189,97;
  --bs-warning-text-emphasis: #F8D7A0;
  --bs-warning-bg-subtle: #312613;
  --bs-warning-border-subtle: #92713A;
  --bs-danger: rgb(218,41,46);
  --bs-danger-rgb: 218,41,46;
  --bs-danger-text-emphasis: #E97F82;
  --bs-danger-bg-subtle: #2C0809;
  --bs-danger-border-subtle: #83191C;
  --bs-light: rgb(31,31,42);
  --bs-light-rgb: 31,31,42;
  --bs-light-text-emphasis: #79797F;
  --bs-light-bg-subtle: #060608;
  --bs-light-border-subtle: #131319;
  --bs-dark: rgb(31,31,38);
  --bs-dark-rgb: 31,31,38;
  --bs-dark-text-emphasis: #79797D;
  --bs-dark-bg-subtle: #060608;
  --bs-dark-border-subtle: #131317;
  --bs-body-color: rgb(250,250,250);
  --bs-body-color-rgb: 250,250,250;
  --bs-secondary-color: rgba(250,250,250,0.75);
  --bs-secondary-color-rgb: 250,250,250,0.75;
  --bs-tertiary-color: rgba(250,250,250,0.5);
  --bs-tertiary-color-rgb: 250,250,250,0.5;
  --bs-body-bg: rgb(35,36,48);
  --bs-body-bg-rgb: 35,36,48;
  --bs-body-font-family: 'Motiva Sans Test';
}

[data-bs-theme=dark] .btn-primary, .btn-primary[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: rgb(173,149,237);
  --bs-btn-border-color: rgb(173,149,237);
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #B9A5F0;
  --bs-btn-hover-border-color: #B5A0EF;
  --bs-btn-focus-shadow-rgb: 26,22,36;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #BDAAF1;
  --bs-btn-active-border-color: #B5A0EF;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: rgb(173,149,237);
  --bs-btn-disabled-border-color: rgb(173,149,237);
}

[data-bs-theme=dark] .btn-outline-primary, .btn-outline-primary[data-bs-theme=dark] {
  --bs-btn-color: rgb(173,149,237);
  --bs-btn-border-color: rgb(173,149,237);
  --bs-btn-focus-shadow-rgb: 173,149,237;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: rgb(173,149,237);
  --bs-btn-hover-border-color: rgb(173,149,237);
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: rgb(173,149,237);
  --bs-btn-active-border-color: rgb(173,149,237);
  --bs-btn-disabled-color: rgb(173,149,237);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(173,149,237);
}

[data-bs-theme=dark] .btn-secondary, .btn-secondary[data-bs-theme=dark] {
  --bs-btn-color: #fff;
  --bs-btn-bg: rgb(46,42,55);
  --bs-btn-border-color: rgb(46,42,55);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #27242F;
  --bs-btn-hover-border-color: #25222C;
  --bs-btn-focus-shadow-rgb: 224,223,225;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #25222C;
  --bs-btn-active-border-color: #232029;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: rgb(46,42,55);
  --bs-btn-disabled-border-color: rgb(46,42,55);
}

[data-bs-theme=dark] .btn-outline-secondary, .btn-outline-secondary[data-bs-theme=dark] {
  --bs-btn-color: rgb(46,42,55);
  --bs-btn-border-color: rgb(46,42,55);
  --bs-btn-focus-shadow-rgb: 46,42,55;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgb(46,42,55);
  --bs-btn-hover-border-color: rgb(46,42,55);
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgb(46,42,55);
  --bs-btn-active-border-color: rgb(46,42,55);
  --bs-btn-disabled-color: rgb(46,42,55);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(46,42,55);
}

[data-bs-theme=dark] .btn-success, .btn-success[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: rgb(47,179,128);
  --bs-btn-border-color: rgb(47,179,128);
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #4EBE93;
  --bs-btn-hover-border-color: #44BB8D;
  --bs-btn-focus-shadow-rgb: 7,27,19;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #59C299;
  --bs-btn-active-border-color: #44BB8D;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: rgb(47,179,128);
  --bs-btn-disabled-border-color: rgb(47,179,128);
}

[data-bs-theme=dark] .btn-outline-success, .btn-outline-success[data-bs-theme=dark] {
  --bs-btn-color: rgb(47,179,128);
  --bs-btn-border-color: rgb(47,179,128);
  --bs-btn-focus-shadow-rgb: 47,179,128;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: rgb(47,179,128);
  --bs-btn-hover-border-color: rgb(47,179,128);
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: rgb(47,179,128);
  --bs-btn-active-border-color: rgb(47,179,128);
  --bs-btn-disabled-color: rgb(47,179,128);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(47,179,128);
}

[data-bs-theme=dark] .btn-info, .btn-info[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: rgb(192,123,255);
  --bs-btn-border-color: rgb(192,123,255);
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #C98FFF;
  --bs-btn-hover-border-color: #C688FF;
  --bs-btn-focus-shadow-rgb: 29,18,38;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #CD95FF;
  --bs-btn-active-border-color: #C688FF;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: rgb(192,123,255);
  --bs-btn-disabled-border-color: rgb(192,123,255);
}

[data-bs-theme=dark] .btn-outline-info, .btn-outline-info[data-bs-theme=dark] {
  --bs-btn-color: rgb(192,123,255);
  --bs-btn-border-color: rgb(192,123,255);
  --bs-btn-focus-shadow-rgb: 192,123,255;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: rgb(192,123,255);
  --bs-btn-hover-border-color: rgb(192,123,255);
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: rgb(192,123,255);
  --bs-btn-active-border-color: rgb(192,123,255);
  --bs-btn-disabled-color: rgb(192,123,255);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(192,123,255);
}

[data-bs-theme=dark] .btn-warning, .btn-warning[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: rgb(244,189,97);
  --bs-btn-border-color: rgb(244,189,97);
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #F6C779;
  --bs-btn-hover-border-color: #F5C471;
  --bs-btn-focus-shadow-rgb: 37,28,15;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #F6CA81;
  --bs-btn-active-border-color: #F5C471;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: rgb(244,189,97);
  --bs-btn-disabled-border-color: rgb(244,189,97);
}

[data-bs-theme=dark] .btn-outline-warning, .btn-outline-warning[data-bs-theme=dark] {
  --bs-btn-color: rgb(244,189,97);
  --bs-btn-border-color: rgb(244,189,97);
  --bs-btn-focus-shadow-rgb: 244,189,97;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: rgb(244,189,97);
  --bs-btn-hover-border-color: rgb(244,189,97);
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: rgb(244,189,97);
  --bs-btn-active-border-color: rgb(244,189,97);
  --bs-btn-disabled-color: rgb(244,189,97);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(244,189,97);
}

[data-bs-theme=dark] .btn-danger, .btn-danger[data-bs-theme=dark] {
  --bs-btn-color: #fff;
  --bs-btn-bg: rgb(218,41,46);
  --bs-btn-border-color: rgb(218,41,46);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #B92327;
  --bs-btn-hover-border-color: #AE2125;
  --bs-btn-focus-shadow-rgb: 249,223,224;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #AE2125;
  --bs-btn-active-border-color: #A41F23;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: rgb(218,41,46);
  --bs-btn-disabled-border-color: rgb(218,41,46);
}

[data-bs-theme=dark] .btn-outline-danger, .btn-outline-danger[data-bs-theme=dark] {
  --bs-btn-color: rgb(218,41,46);
  --bs-btn-border-color: rgb(218,41,46);
  --bs-btn-focus-shadow-rgb: 218,41,46;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgb(218,41,46);
  --bs-btn-hover-border-color: rgb(218,41,46);
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgb(218,41,46);
  --bs-btn-active-border-color: rgb(218,41,46);
  --bs-btn-disabled-color: rgb(218,41,46);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(218,41,46);
}

[data-bs-theme=dark] .btn-light, .btn-light[data-bs-theme=dark] {
  --bs-btn-color: #fff;
  --bs-btn-bg: rgb(31,31,42);
  --bs-btn-border-color: rgb(31,31,42);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1A1A24;
  --bs-btn-hover-border-color: #191922;
  --bs-btn-focus-shadow-rgb: 221,221,223;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #191922;
  --bs-btn-active-border-color: #171720;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: rgb(31,31,42);
  --bs-btn-disabled-border-color: rgb(31,31,42);
}

[data-bs-theme=dark] .btn-outline-light, .btn-outline-light[data-bs-theme=dark] {
  --bs-btn-color: rgb(31,31,42);
  --bs-btn-border-color: rgb(31,31,42);
  --bs-btn-focus-shadow-rgb: 31,31,42;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgb(31,31,42);
  --bs-btn-hover-border-color: rgb(31,31,42);
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgb(31,31,42);
  --bs-btn-active-border-color: rgb(31,31,42);
  --bs-btn-disabled-color: rgb(31,31,42);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(31,31,42);
}

[data-bs-theme=dark] .btn-dark, .btn-dark[data-bs-theme=dark] {
  --bs-btn-color: #fff;
  --bs-btn-bg: rgb(31,31,38);
  --bs-btn-border-color: rgb(31,31,38);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1A1A20;
  --bs-btn-hover-border-color: #19191E;
  --bs-btn-focus-shadow-rgb: 221,221,222;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #19191E;
  --bs-btn-active-border-color: #17171D;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: rgb(31,31,38);
  --bs-btn-disabled-border-color: rgb(31,31,38);
}

[data-bs-theme=dark] .btn-outline-dark, .btn-outline-dark[data-bs-theme=dark] {
  --bs-btn-color: rgb(31,31,38);
  --bs-btn-border-color: rgb(31,31,38);
  --bs-btn-focus-shadow-rgb: 31,31,38;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgb(31,31,38);
  --bs-btn-hover-border-color: rgb(31,31,38);
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgb(31,31,38);
  --bs-btn-active-border-color: rgb(31,31,38);
  --bs-btn-disabled-color: rgb(31,31,38);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(31,31,38);
}

