:root, [data-bs-theme=light] {
  --bs-body-color: rgb(255,255,255);
  --bs-body-color-rgb: 255,255,255;
  --bs-secondary-color: rgba(255,255,255,0.75);
  --bs-secondary-color-rgb: 255,255,255,0.75;
  --bs-tertiary-color: rgba(255,255,255,0.5);
  --bs-tertiary-color-rgb: 255,255,255,0.5;
  --bs-body-bg: rgb(18,18,18);
  --bs-body-bg-rgb: 18,18,18;
}

