[data-bs-theme=dark] {
  --bs-primary: rgb(173,149,237);
  --bs-primary-rgb: 173,149,237;
  --bs-primary-text-emphasis: #CEBFF4;
  --bs-primary-bg-subtle: #231E2F;
  --bs-primary-border-subtle: #68598E;
  --bs-secondary: rgb(148,148,154);
  --bs-secondary-rgb: 148,148,154;
  --bs-secondary-text-emphasis: #BFBFC2;
  --bs-secondary-bg-subtle: #1E1E1F;
  --bs-secondary-border-subtle: #59595C;
  --bs-dark: rgb(32,33,39);
  --bs-dark-rgb: 32,33,39;
  --bs-dark-text-emphasis: #797A7D;
  --bs-dark-bg-subtle: #060708;
  --bs-dark-border-subtle: #131417;
  --bs-body-color: rgb(224,224,216);
  --bs-body-color-rgb: 224,224,216;
  --bs-secondary-color: rgb(173,149,237);
  --bs-secondary-color-rgb: 173,149,237;
  --bs-tertiary-color: rgb(148,148,154);
  --bs-tertiary-color-rgb: 148,148,154;
  --bs-body-bg: rgb(18,18,18);
  --bs-body-bg-rgb: 18,18,18;
  --bs-secondary-bg: rgb(25,26,28);
  --bs-secondary-bg-rgb: 25,26,28;
}

[data-bs-theme=dark] .btn-primary, .btn-primary[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: rgb(173,149,237);
  --bs-btn-border-color: rgb(173,149,237);
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #B9A5F0;
  --bs-btn-hover-border-color: #B5A0EF;
  --bs-btn-focus-shadow-rgb: 26,22,36;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #BDAAF1;
  --bs-btn-active-border-color: #B5A0EF;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: rgb(173,149,237);
  --bs-btn-disabled-border-color: rgb(173,149,237);
}

[data-bs-theme=dark] .btn-outline-primary, .btn-outline-primary[data-bs-theme=dark] {
  --bs-btn-color: rgb(173,149,237);
  --bs-btn-border-color: rgb(173,149,237);
  --bs-btn-focus-shadow-rgb: 173,149,237;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: rgb(173,149,237);
  --bs-btn-hover-border-color: rgb(173,149,237);
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: rgb(173,149,237);
  --bs-btn-active-border-color: rgb(173,149,237);
  --bs-btn-disabled-color: rgb(173,149,237);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(173,149,237);
}

[data-bs-theme=dark] .btn-secondary, .btn-secondary[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: rgb(148,148,154);
  --bs-btn-border-color: rgb(148,148,154);
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #A4A4A9;
  --bs-btn-hover-border-color: #9F9FA4;
  --bs-btn-focus-shadow-rgb: 22,22,23;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #A9A9AE;
  --bs-btn-active-border-color: #9F9FA4;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: rgb(148,148,154);
  --bs-btn-disabled-border-color: rgb(148,148,154);
}

[data-bs-theme=dark] .btn-outline-secondary, .btn-outline-secondary[data-bs-theme=dark] {
  --bs-btn-color: rgb(148,148,154);
  --bs-btn-border-color: rgb(148,148,154);
  --bs-btn-focus-shadow-rgb: 148,148,154;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: rgb(148,148,154);
  --bs-btn-hover-border-color: rgb(148,148,154);
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: rgb(148,148,154);
  --bs-btn-active-border-color: rgb(148,148,154);
  --bs-btn-disabled-color: rgb(148,148,154);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(148,148,154);
}

[data-bs-theme=dark] .btn-dark, .btn-dark[data-bs-theme=dark] {
  --bs-btn-color: #fff;
  --bs-btn-bg: rgb(32,33,39);
  --bs-btn-border-color: rgb(32,33,39);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1B1C21;
  --bs-btn-hover-border-color: #1A1A1F;
  --bs-btn-focus-shadow-rgb: 222,222,223;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1A1A1F;
  --bs-btn-active-border-color: #18191D;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: rgb(32,33,39);
  --bs-btn-disabled-border-color: rgb(32,33,39);
}

[data-bs-theme=dark] .btn-outline-dark, .btn-outline-dark[data-bs-theme=dark] {
  --bs-btn-color: rgb(32,33,39);
  --bs-btn-border-color: rgb(32,33,39);
  --bs-btn-focus-shadow-rgb: 32,33,39;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgb(32,33,39);
  --bs-btn-hover-border-color: rgb(32,33,39);
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgb(32,33,39);
  --bs-btn-active-border-color: rgb(32,33,39);
  --bs-btn-disabled-color: rgb(32,33,39);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(32,33,39);
}

