:root {
  --primary-color: rgb(72, 61, 104);
  --primary-color-transparent: rgba(72, 61, 104, 0.2);
  --alt-bg-color: rgb(25, 26, 28);
  --bg-color: rgb(18, 18, 18);
  --text-color: rgb(0, 0, 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: rgb(173, 149, 237);
    --primary-color-transparent: rgba(173, 149, 237, 0.2);
    --a-color: rgb(211, 195, 255);
    --alt-bg-color: rgb(25, 26, 28);
    --bg-color: rgb(18, 18, 18);
    --text-color: rgb(255, 255, 255);
    --alt-text-color: rgb(150, 150, 150);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

.bg-alt {
  background-color: var(--alt-bg-color);
}

body {
  min-height: 100vh;
  color: var(--text-color);
  background: var(--bg-color);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: var(--a-color);
  transition: 0.2s;
  border-radius: 10px;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--primary-color-transparent);
    color: var(--primary-color);
    padding: 5px;
  }
}